<div class="filter">
  <label>Search By Title</label>
  <input type="text" placeholder="Search for Idea" id="idea_search_title">

  <!--<label>Search By Description</label>-->
  <!--<input type="text" placeholder="Idea Description" id="idea_search_description">-->
  <%#= select("idea", "filter_department", @departments, {include_blank: true}) %>

  <!--<label>Filter By State</label>-->
  <%#= select("robot", "filter_state", @states, {include_blank: true}) %>

</div>
