<%= render "search" %><br>

<%= render "form" %>

<div class="ideas">
  <% @ideas.each do |idea| %>
    <div class="idea">
      <h1><%= idea.title %></h1>
      <dl>
        <dt>Description</dt>
        <dd><h3><%= idea.description %></h3></dd>
      </dl>
    </div>
  <% end %>
</div>
