<%= render "search" %>

<div class="ideas">
  <% @ideas.each do |idea| %>
    <div class="idea" >
      <h1><%= idea.title %></h1>
      <dl>
        <dt>Description</dt>
        <dd class="idea_description"><%= idea.description %></dd>
      </dl>
    </div>
  <% end %>
</div>
