@import "bourbon";
@import "neat";

@import "forms";


@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

body {
  background-color: darken(#FFF, 2%);
}

.new-idea-header {
  @include span-columns(12);
  text-align: center;
  font-family: Courier New, monospace;
}

.edit-idea-header {
  @include span-columns(12);
  text-align: center;
  font-family: Courier New, monospace;
}

.hero {
  background: image-url('desktop.jpg') no-repeat center;
  background-size: cover;
  height: 40vh;
  overflow: hidden;
  h1 {
    color: #ADA714;
    font-family: Courier New, monospace;
    text-align: right;
    @include vertical-align;
    font-size: 90px;
    padding: 0px 135px 250px;
  }
}

.idea-boxes {
  @include outer-container();
  padding: 4rem;
}

.filter {
  @include span-columns(4);
  @include shift(4);
  text-align: center;
//  font-family: "Helvetica Neue Light", "Lucida Grande", "Calibri", "Arial", sans-serif;
  font-family: Courier New, monospace;

  //float: left;
  //display: block;
  //width: 48.82117%;
  //margin-left: 25.58941%;
  //padding: 20px 0;
  //position: relative;
}

.ideas {
  .idea {
    @include span-columns(12);
    border-bottom: dotted #333 2px;
    padding-bottom: 20px;

    h1 {
      @include span-columns(4);
      font-family: Courier New, monospace;
      color: #ADA714;
    }

    h3.description {
      @include span-columns(8);
      font-family: Courier New, monospace;

    }
    h3.quality {
      @include span-columns(7);
      text-align: right;
      font-family: Courier New, monospace;
    }

    .upvote {
      @include span-columns(3);
      text-align: right;
      font-weight: bold;
      color: #000;
      font-size: 1rem;
      font-family: Courier New, monospace;
    }

    .downvote {
      @include span-columns(3);
      text-align: right;
      font-weight: bold;
      color: #000;
      font-size: 1rem;
      font-family: Courier New, monospace;
    }

    .edit {
      @include span-columns(3);
      text-align: right;
      font-weight: bold;
      color: #000;
      font-size: 1rem;
      font-family: Courier New, monospace;
    }

    .delete {
      @include span-columns(3);
      text-align: right;
      font-weight: bold;
      color: #000;
      font-size: 1rem;
      font-family: Courier New, monospace;
    }
  }
}

.footer {
  background-color: #292c2f;
  text-align: center;
  font-size: 1.2rem;
  padding: 4rem;
  p {
    &.slogan {
      color: #8d9093;
      font-size: 1.8rem;
      margin: 0 0 1rem;
    }
    &.copywrite {
      color: #8f9296;
      font-size: 1rem;
      font-family: Courier New, monospace;
      margin: 0;
    }
  }
  .links {
    list-style: none;
    font-weight: bold;
    color: #ffffff;
    padding: 3rem 0 2rem;
    margin: 0;
    &::after {
      content: "•";
      padding: 0 0.4rem 0 0.8rem;
    }
    &:last-child::after {
      content: "";
      padding: 0 0.4rem 0 0.8rem;
    }
  }
}
